a:link, a:visited {
  background-color: rgb(32, 29, 207);
  color: white;
  border: 2px solid rgb(236, 89, 63);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: white;
  color: rgb(148, 14, 14);
}
h1{

    color: rgb(228, 18, 18);
  text-align: center;
}
h2{
    color: rgb(43, 71, 228);
  text-align: center;
}
p{
    font-family: verdana;
  font-size: 20px;
}
body{
    background-color: rgb(124, 231, 102);
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 4px solid rgb(206, 106, 25);
  }
  ul.a {
    list-style-type: circle;
  }
  img {
    width: 25%;
    height: auto;
  }